node_modules/
bower_components/
dist/
scan/
coverage/
artifacts
src/wchLayouts/types/

*.log
*.log.*


*.patch
*.swp
*.idea
*~
/*/*~

.DS_Store
.vscode
.yarnrc
.yarnclean
yarn.lock
package-lock.json

.wchtoolshashes

