<nav class="wch-responsive-menu grid-container" *ngIf="rc">
		<div id="wch-toggleMenu" class="title-bar hide-for-large">
			<button class="menu-icon" type="button" (click)="toggleMobileNav()"></button>
			<div class="logo-container">
				<a href="#">
					<h1 *ngIf="isImageURLAvailable(LOGO)" class="logo" [style.background-image]="'url(' + getURL(LOGO) + ')'"></h1>
				</a>
			</div>
		</div>
		<div class="top-bar stacked-for-medium" [class.mobileNav]="mobileNavToggle" id="wch-nav-menu">
			<div class="top-bar-left show-for-large">
				<div class="logo-container">
					<a href="#">
						<h1 class="logo" *ngIf="isImageURLAvailable(LOGO)" [style.background-image]="'url(' + getURL(LOGO) + ')'">
						</h1>
					</a>
				</div>
			</div>
			<div class="top-bar-right">
				<div class="menu-container">
					<wch-menu (onMenuItemSelected)="toggleMobileNav()" [pages]="pages"></wch-menu>
					<div class="searchBox">
						<app-search-box (onSearch)="closeMobileNav()"></app-search-box>
					</div>
					<div class="sign-in">
						<svg-icon src="oob-spa/images/icon-account.svg"></svg-icon>
						<a *ngIf="!authService.isLoggedIn()" (click)="login()" >
							<span> Sign in</span></a>
						<a *ngIf="authService.isLoggedIn()" (click)="logout()">
							<span> Sign out</span></a>
					</div>
				</div>
			</div>
		</div>
</nav>
