<div [ngClass]="{'video-not-set': !isVideoSet()}">
	<div [id]="renderingContext.id" class="wch-hero-video responsive-embed widescreen">
		<video
				[id]="itemId"
				controls
				class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9">
			<!-- Supporting WebM and MP4 is the recommended way for best browser coverage. -->
			<source [src]="renderingContext?.context.hub.deliveryUrl + videoNewChanges?.url"
					[type]="mediaType">
			Your browser doesn't support HTML5 video.
		</video>
	</div>
</div>
