<div [ngSwitch]="layoutMode">
	<div *ngSwitchCase="constants.SUMMARY">
		<a *ngIf="designTopic" class="read-more-link" href [routerLink]="navLink()">
			<wch-contentref [layoutMode]="constants.SUMMARY" [renderingContext]="onDesignTopic | async">
			</wch-contentref>
		</a>
	</div>
	<div *ngSwitchCase="constants.DETAIL" class="grid-container section-small">
		<div id="{{rContext.id}}" class="grid-x grid-padding-x">
			<div *ngIf="designTopic" class="medium-8 cell auto">
				<div class="section">
					<wch-contentref [renderingContext]="onDesignTopic | async">
					</wch-contentref>
				</div>
			</div>
			<div *ngIf="relatedArticles" class="medium-4 cell shrink">
				<div class="section">
					<wch-contentref [renderingContext]="onRelatedArticles | async">
					</wch-contentref>
				</div>
			</div>
		</div>
	</div>
</div>
