<div class="article-lead-image">
	<div class="image-container">
		<wch-placeholder wchEditable="leadImage">
			<img *ngIf="leadImage && leadImage.url" wchEditable="leadImage" [src]="utilsService.getImageUrl(rContext, LEAD_IMAGE_KEY, 'lead')"
			 [alt]="rContext.elements[LEAD_IMAGE_KEY].altText" [title]="rContext.elements[LEAD_IMAGE_KEY].altText">
			<wch-placeholder-icon class="wch-placeholder" type="image" width="800" height="300" wchEditable="leadImage">
			</wch-placeholder-icon>
		</wch-placeholder>
	</div>
	<div *ngIf="layoutMode === constants.DETAIL" class="caption" wchEditable="leadImageCaption" wchFormat></div>
	<div *ngIf="layoutMode === constants.DETAIL" class="caption" wchEditable="leadImageCredit" wchFormat></div>
</div>