<div class="summary-card">
	<div *ngIf="rContext && rContext.reference[LEAD_IMG_KEY]" class="summary-card-image">
		<!-- This sample shows the entire supplied image, so the correct aspect should be supplied by the user. -->
		<div class="article-lead-image">
			<div class="image-container">
				<wch-contentref [layoutMode]="constants.SUMMARY" *ngIf="mainImage" [renderingContext]="onMainImage | async"></wch-contentref>
			</div>
		</div>
	</div>
	<p wchEditable="heading">{{onHeading | async}}</p>
</div>
