<div #signUp [id]="rContext.id">
	<div [id]="itemId" class="reveal" #revealModal data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<div wchEditable="dialogMessage" wchFormat></div>
		<a class="close-button" data-close aria-label="Close">&#215;</a>
	</div>

	<section class="grid-container">
		<wch-placeholder wchEditable="backgroundImage">
			<div wchEditable="backgroundImage" class="newsletter" [style.background-image]="'url(' + utilsService.getImageUrl(rContext, BACKGROUND_IMG_KEY, 'short') +')'">
			</div>	
			<wch-placeholder-icon class="wch-placeholder" type="image" width="800" height="300" wchEditable="backgroundImage">
			</wch-placeholder-icon>
		</wch-placeholder>
		<div class="newsletter">
			<div class="call-to-action">
				<h4 wchEditable="text" wchFormat></h4>
			</div>
			<div class="wrap-inputs">
				<form name="emailForm">
					<input type="text" (keyup.enter)="openModal()" [(ngModel)]="emailAddress" class="text-content" placeholder="Email address"
					 name="emailAddr" />
					<button wchEditable="link" (click)="openModal()" type="button" class="button news-btn float-right" id="newsletter-subscribe">Subscribe</button>
				</form>
			</div>
		</div>
	</section>
</div>