<div id="{{renderingContext.id}}" class="social-component grid-x">
	<div class="section cell">
		<!--social component's title-->
		<h2 wchEditable="title" wchFormat></h2>
	</div>
	<div class="icons-group grid-x section cell">
		<!--facebook image with link-->
		<a class="small-12 medium-4 columns" target="_blank" wchEditable="facebook" [href]="facebook.linkURL" [title]="facebook.linkDescription">
			<img class="social-icon" *ngIf="fbImage.url" wchEditable="fbImage" [src]="renderingContext.context.hub.deliveryUrl.origin + fbImage.url"
			 [alt]="fbImage.altText" [title]="fbImage.asset?.fileName" onError="this.alt='Image is not available yet';">
		</a>
		<!--twitter image with link-->
		<a class="small-12 medium-4 columns" target="_blank" wchEditable="twitter" [href]="twitter.linkURL" [title]="twitter.linkDescription">
			<img class="social-icon" *ngIf="twitterImage.url" wchEditable="twitterImage" [src]="renderingContext.context.hub.deliveryUrl.origin + twitterImage.url"
			 [alt]="twitterImage.altText" [title]="twitterImage.asset?.fileName" onError="this.alt='Image is not available yet';">
		</a>
		<!--instagram image with link-->
		<a class="small-12 medium-4 columns" target="_blank" wchEditable="instagram" [href]="instagram.linkURL" [title]="instagram.linkDescription">
			<img class="social-icon" *ngIf="instagramImage.url" wchEditable="instagramImage" [src]="renderingContext.context.hub.deliveryUrl.origin + instagramImage.url"
			 [alt]="instagramImage.altText" [title]="instagramImage.asset?.fileName" onError="this.alt='Image is not available yet';">
		</a>
	</div>
</div>
