<div class="safe-padding" [ngSwitch]="layoutMode">
	<div *ngSwitchCase="constants.SUMMARY">
		<a  *ngIf="designTopic"  class="read-more-link" href [routerLink]="navLink()">
			<wch-contentref wchEditable="designTopic" [layoutMode]="constants.SUMMARY" [renderingContext]="onDesignTopic | async">
			</wch-contentref>
		</a>
	</div>
	<div *ngSwitchCase="constants.DETAIL" class="grid-container section-small">
		<div id="{{rContext.id}}" class="grid-x grid-padding-x">
			<div class="medium-4 cell shrink">
				<div *ngIf="relatedArticles" class="section">
					<wch-contentref wchEditable="relatedArticles" [renderingContext]="onRelatedArticles | async">
					</wch-contentref>
				</div>
			</div>
			<div class="medium-8 cell auto">
				<div *ngIf="designTopic" class="section">
					<wch-contentref wchEditable="designTopic" [renderingContext]="onDesignTopic | async">
					</wch-contentref>
				</div>
			</div>
		</div>
	</div>
</div>
