<div [id]="rContext.id" class="feature section" [ngClass]="onCssClasses | async">
	<div class="feature-copy">
		<div class="feature-copy-content">
			<h2 wchEditable="featureHeadline" wchFormat></h2>
			<div wchEditable="descriptionOfFeature" class="text-content" wchFormat></div>
			<a wchEditable="readMoreLink" *ngIf="isButtonLinkSet() && !useRouterLink" class="button" target="_blank" [href]="(onReadMoreLink | async).linkURL">{{(onReadMoreLink
				| async).linkText}}</a>
			<a wchEditable="readMoreLink" *ngIf="isButtonLinkSet() && useRouterLink" class="button" [routerLink]="(onReadMoreLink | async).linkURL">{{(onReadMoreLink
				| async).linkText}}</a>
		</div>
	</div>
	<div class="feature-img">
		<wch-placeholder wchEditable="image">
			<img *ngIf="!getImageUrl().includes('undefined')" wchEditable="image" [src]="getImageUrl()" [alt]="(onImage | async).altText"
			 [title]="(onImage | async).altText">
			<wch-placeholder-icon class="wch-placeholder" type="image" width="450" height="550" wchEditable="image">
			</wch-placeholder-icon>
		</wch-placeholder>
	</div>
</div>